:root{
	font-size: 16px;
}
body{
	background-color: black;
	font-size:16px;
	margin:0px;
	padding:0px;
	font-weight: bold;
}

div {
	display: inline-block;
	margin:0%;
	padding: 0%;
}

.menubar {
	list-style-type:none;
	margin:0;
	padding: 0;
	background-color: black;
	height:5vh;
	margin-top: 1.5vh;
	/* For creating fixed navigation bar */
	position:fixed;
	width:100%;
	top:0;
}

.item {
	display:inline;
	font-family: Abel;
}

.link {
	padding: 1.5rem;
    display:inline;
    color:white;
    text-decoration:none;
    font-size:1.4rem;
    text-align:center;
    margin:0.5%;
}

.link:hover {
	text-decoration:line-through red dashed;
}

.myimage {
	height:50vh;
	width:100vw;
	margin-bottom: 0vw;
	padding: 0vw;
}

#aboutme {
	background-color: white;
	margin:0vw;
	padding: 0vw;
	height: 50vh;
	width: 100vw;
	font-family: Great Vibes;
	font-size: 2.9rem;
}

.content1{
	background-color: #ffff66;
	position:relative;
	height: 30vh;
	width:70vw;
	top:10vh;
	bottom:10vh;
	left:15vw;
}

.para1 {
	margin:1%;
}

#tech {
	background-color: orange;
	margin:0%;
	padding: 0%;
	height: 50vh;
	width: 100vw;
	font-family: Great Vibes;
	font-size: 2.6rem;
}

.para2 {
	margin:1%;
}

.content2 {
	background-color: white;
	position: relative;
	height: 15vh;
	width:70vw;
	top:2vh;
	left:15vw;
}

.list{
	font-family: Great Vibes;
	font-size: 1.6rem;
}

#work {
	background-color: pink;
	margin:0%;
	padding: 0%;
	height: 50vh;
	width: 100vw;
	}

.para3 {
	font-family: Great Vibes;
	font-size: 2.7rem;
}

.list2 {
	font-family: Great Vibes;
	font-size: 2.7rem;
}

.para4 {
	font-family: Abel;
	font-size: 3rem;
	text-align: center;
	color: white;
}

@media screen and (max-width: 320px){
	:root{
		font-size: 7px;
	}
	.list{
	font-family: Great Vibes;
	font-size: 1.9rem;
}
}

@media screen and (min-width:321px) and (max-width: 375px){
	:root{
		font-size: 8px;
	}
	.list{
	font-family: Great Vibes;
	font-size: 1.9rem;
}
}

@media screen and (min-width:376px) and (max-width: 425px){
	:root{
		font-size: 9px;
	}
	.list{
	font-family: Great Vibes;
	font-size: 1.9rem;
	}
}

@media screen and (min-width:426px) and (max-width: 602px){
	:root{
		font-size: 10px;
	}
	.list{
	font-family: Great Vibes;
	font-size: 1.9rem;
	}
}

@media screen and (min-width:603px) and (max-width: 768px){
	:root{
		font-size: 11px;
	}
	.list{
	font-family: Great Vibes;
	font-size: 1.9rem;
	}
}

@media screen and (min-width:769px) and (max-width: 1024px){
	:root{
		font-size: 13px;
	}
	.list{
	font-family: Great Vibes;
	font-size: 1.9rem;
	}
}


